MSSQL_SA_PASSWORD=
ConnectionStrings__DefaultConnection=
MercadoPago__BaseUrl=
MercadoPago__AccessToken=
MercadoPago__UserId=
MercadoPago__PosId=
MercadoPago__NotificationUrl=
OrdersApi__BaseUrl=
OrdersApi__PaymentConfirmationEndpoint=